.kids-course-section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 400;
  height: 60vh; 
  box-sizing: border-box; 
}

.kids-course-section1-text-wrapper {
  max-width: 800px; 
  margin: 0 auto;
}

.kids-course-section1-heading {
  font-size: 2.5rem;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.kids-course-section1-text {
  font-size: 1.2rem;
  color: var(--color-secondary);
  line-height: 1.6;
}
