.register-container {
  color: var(--color4);
  padding: 40px;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-wrapper {
  width: 100%;
  max-width: 800px; 
}

.heading {
  font-size: 2.5rem;
  color: var(--color2);
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 20px;
}

.register-heading-border {
  width: 60px;
  height: 4px;
  background-color: var(--color2);
  margin: 0 auto 40px;
}

.register-button {
  background-color: var(--color2);
  color: var(--color1);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: var(--color0);
  color: var(--color2);
}

.register-button:disabled {
  background-color: var(--color2);
  color: var(--color3);
}

.register-button:disabled .spinner-border {
  border-color: var(--color3);
}

.already-have-account {
  text-align: center;
  font-size: 1rem;
}

.already-have-account p {
  margin-top: 20px;
  font-family: "Dosis", sans-serif;
  color: var(--color10);
}

.already-have-account a {
  color: var(--color2);
  text-decoration: none;
  font-weight: bold;
}

.already-have-account a:hover {
  color: var(--color0);
  text-decoration: underline;
}

.form-control {
  background-color: var(--color1);
  color: var(--color2);
  border: 1px solid var(--color2);
  border-radius: 5px;
  padding: 12px;
}

.form-control:focus {
  background-color: var(--color1);
  border-color: var(--color0);
  box-shadow: 0 0 5px var(--color2);
  color: var(--color2);
}

.form-control::placeholder {
  color: var(--color2);
  opacity: 0.3;
}

.form-select {
  appearance: none;
  background-color: var(--color1); 
  color: var(--color2);            
  border: 1px solid var(--color2);
  border-radius: 5px;
  padding: 12px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.form-select:hover {
  background-color: var(--color3); 
  color: var(--color0);
}


.form-control option {
  background-color: var(--color1);
  color: var(--color2);
}

.form-label {
  font-family: var(--sec-font);
  font-size: 1.1rem;
  color: var(--color2);
}

.alert {
  font-size: 1rem;
  margin-bottom: 20px;
  background-color: var(--color3);
  color: var(--color1);
  border: none;
}

/* Responsive Styles */

/* iPad Mini, iPad Air, iPad Pro (landscape and portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  .register-container {
    padding: 25px;
    max-width: 700px;
    margin: 20px auto;
  }

  .heading {
    font-size: 2rem;
  }

  .register-button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .form-label {
    font-size: 1rem;
  }

  .form-control {
    padding: 10px;
  }
}

/* Surface Pro 7 */
@media (min-width: 912px) and (max-width: 1368px) {
  .register-container {
    padding: 30px;
    max-width: 850px;
    margin: 20px auto;
  }

  .heading {
    font-size: 2.2rem;
  }

  .register-button {
    font-size: 1.05rem;
    padding: 10px 20px;
  }

  .form-label {
    font-size: 1.05rem;
  }
}

/* Surface Duo (both screens open) */
@media (min-width: 540px) and (max-width: 720px) {
  .register-container {
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
  }

  .heading {
    font-size: 1.8rem;
  }

  .register-button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .already-have-account p {
    font-size: 0.9rem;
  }
}

/* Galaxy Z Fold (both screens open) */
@media (min-width: 280px) and (max-width: 675px) {
  .register-container {
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
  }

  .heading {
    font-size: 1.8rem;
  }

  .register-button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .form-control {
    padding: 10px;
  }
}

/* Asus ZenBook Fold */
@media (min-width: 1366px) and (max-width: 1920px) {
  .register-container {
    padding: 40px;
    max-width: 1000px;
    margin: 20px auto;
  }

  .heading {
    font-size: 2.5rem;
  }

  .register-button {
    font-size: 1.2rem;
    padding: 12px 24px;
  }

  .form-label {
    font-size: 1.2rem;
  }

  .form-control {
    padding: 12px;
  }
}
