.footer {
  background-color: var(--color1); 
  color: var(--color2); 
  font-family: "Dosis", sans-serif;
  padding: 20px 0;
  border-top: 1px solid var(--color2); 
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

.footer-link {
  color: var(--color2);  /* Change the link color to match your theme */
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding: 15px 0;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media (min-width: 912px) and (max-width: 1368px) {
  .footer {
    padding: 18px 0;
  }

  .footer p {
    font-size: 0.95rem;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  .footer {
    padding: 15px 0;
  }

  .footer p {
    font-size: 0.85rem;
  }
}

@media (min-width: 280px) and (max-width: 675px) {
  .footer {
    padding: 10px 0;
  }

  .footer p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .footer {
    padding: 25px 0;
  }

  .footer p {
    font-size: 1.1rem;
  }
}
